@keyframes move-box {
    0% {
        transform: translateY(0) translateX(0);
        background-color: red;
    }

    25% {
        transform: translateY(100px) translateX(0);
        background-color: blue;
    }

    50% {
        transform: translateY(100px) translateX(100px);
        background-color: green;
    }

    75% {
        transform: translateY(0) translateX(100px);
        background-color: yellow;

    }

    100% {
        transform: translateY(0) translateX(0);
        background-color: red;
    }
}

.animation-block {
    width: 100px;
    height: 100px;
    background-color: #f0f;
    animation: move-box 2s linear infinite;
}